.container{
    height: 100vh;
    width: 150vh;
    margin: 0 auto;
    margin-top: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
tr,td,th{
    border: 1px solid;
    padding: 10px;
}
th{ 
    background-attachment: #eee;
}